.bg-header{
    background-color: rgb(32, 32, 32);
    
}



.measure-card{
    background-color: rgb(32, 32, 32) !important;
}

#mycard{
    background-color: rgb(32, 32, 32) !important;
}

.test{
    background-color: red;
}